@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Satoshi", sans-serif;
}
.satoshi{
    font-family: "Satoshi", sans-serif;
}
.zen-dots{
    font-family: "Zen Dots", serif; 
}
.edu-font{
    font-family: "Edu AU VIC WA NT Arrows", serif;
}
.login-hover:hover {
  background: transparent;
  border: 1px solid #ff640d;
  color: #ff640d;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
.register-hover:hover {
  background: transparent;
  border: 1px solid #0f1413;
  color: #0f1413;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
